

@model IEnumerable<FNTC.Finansoft.Accounting.DTO.DescuentosNomina.TipoPagos>

@{
    var OrdenPagos = ViewBag.IdOrden;
}

<select class="form-control" id="OrdenPagos" name="OrdenPagos" >
    <option value="@OrdenPagos">@OrdenPagos</option>
    @foreach (var item in Model)
    {
        <option value="@item.IdTiposPagos">|@item.NombrePago |Orden: @item.Orden</option>
    }
</select>
