@model Dictionary<int, string>

@*<select>
    <option value=''></option>
    @foreach (SelectListItem value in @ViewBag.Tipos)
    {
        <option value='@value.Value'>@value.Text</option>
    }
</select>*@

@Html.DropDownList("Id", new SelectList(ViewBag.Tipos, "Value", "Text"))