


@model IEnumerable<FNTC.Finansoft.Accounting.DTO.Nomina.PlanoEmpresa>


<select class="form-control" id="EmpresasPlanos" name="EMPRESA" required>
    <option value="">Seleccionar</option>
    @foreach (var item in Model)
    {
        <option value="@item.id">|Empresa: @item.NOMBREMP | - |Plano: @item.NOMPLANO |</option>
    }
</select>