<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\FNTC.Core.UI\packages.config" />
  <repository path="..\FNTC.Finansoft.Accounting.Accounting\packages.config" />
  <repository path="..\FNTC.Finansoft.Accounting.DAL\packages.config" />
  <repository path="..\FNTC.Finansoft.Accounting.DTO\packages.config" />
  <repository path="..\FNTC.Finansoft.Core\packages.config" />
  <repository path="..\FNTC.Finansoft.Empresa\packages.config" />
  <repository path="..\FNTC.Finansoft.UI\packages.config" />
  <repository path="..\FNTC.Finansoft.Unions\packages.config" />
  <repository path="..\FNTC.Framework.Web.RBAC\packages.config" />
  <repository path="..\FNTC.Framework\packages.config" />
  <repository path="..\Pruebas\packages.config" />
  <repository path="..\Test\packages.config" />
</repositories>