@model FNTC.Finansoft.Accounting.DTO.MCreditos.Incrementa

@{
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
}

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Incrementa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Incrementa_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incrementa_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Incrementa_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
