
.bodycontainer {
    margin-left: 2%;
    margin-right: 2%;
}

.btn-default {
    border-color: #cccccc;
}


.modal-header {
    background: #274766;
    color: white;
    text-align:center;
}



/*sección de switchs*/

.lbl-switch {
    display:inline-block;
    width:55px;
    height:30px;
    background:#aaa;
    border-radius:100px;
    position:relative;
    cursor:pointer;
}

#Morosidad:checked ~ .lbl-switch {
    background:#61A0FF;
}

#SeCausa:checked ~ .lbl-switch {
    background:#61A0FF;
}

#Estado:checked ~ .lbl-switch {
    background:#61A0FF;
}
#SeCausaEnMora:checked ~ .lbl-switch {
    background: #61A0FF;
}
#RetiroAnticipado:checked ~ .lbl-switch {
    background: #61A0FF;
}


.lbl-switch:after {
    position:absolute;
    content:'';
    width:22px;
    height:22px;
    background: #fff;
    border-radius: 100px;
    top:4px;
    left:5px;
    transition:0.3s;
}

#Morosidad:checked ~ .lbl-switch:after {
    left:28px;
}

#SeCausa:checked ~ .lbl-switch:after {
    left:28px;
}

#Estado:checked ~ .lbl-switch:after {
    left:28px;
}
#SeCausaEnMora:checked ~ .lbl-switch:after {
    left: 28px;
}
#RetiroAnticipado:checked ~ .lbl-switch:after {
    left: 28px;
}


#Morosidad {
    display:none;
}

#SeCausa {
    display: none;
}

#Estado {
    display: none;
}

#SeCausaEnMora {
    display: none;
}
#RetiroAnticipado {
    display: none;
}


/*fin sección de switchs*/

/*TOOLTIP*/
.iconToolTip {
    color:#274766;
}

.toolTip {
    cursor: pointer;
}

th.hide_me, td.hide_me {
    display: none;
}
/*..............*/

/*ALERT*/
.alert {
    display: flex;
    transition: 0.3s;
}
.alert:after {
    transition: 0.3s;
}

/*.............*/

/*TITULOS TABLA*/
.tableEncabezado {
    vertical-align: top !important;
}