
@model FNTC.Finansoft.Accounting.DTO.OperativaDeCaja.CuadreCajaPorCajero

@{
    ViewBag.Title = "Crear Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/chosen.css" rel="stylesheet" />

<link href="~/Content/styleGeneral.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
<script src="~/Scripts/datatable.js"></script>
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/CertificadoRetenciones.js"></script>
<script src="~/Scripts/sweetalert2@9.js"></script>
<style>
    .modal-dialog {
        width: 1100px;
    }
</style>
<br />
<br />
<div class="col-md-12" style="background: rgb(248, 248, 248)">

    <div class="form-group col-md-11" style="margin-left:40px">
        <div class="row">
            <br />
            <br />
            <div class="row">
                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">Tercero</label>
                    <div>
                        @Html.DropDownList("tercero", (IEnumerable<SelectListItem>)ViewBag.terceros, null, new { @class = "chosen-select-single", @id = "tercero", @name = "tercero" })
                    </div>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">Desde</label>
                    <div>
                        <input type="date" class="form-control" id="fechaDesde" name="fechaDesde" value="" />
                    </div>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">Hasta</label>
                    <div>
                        <input type="date" class="form-control" id="fechaHasta" name="fechaHasta" value="" />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:5px;">
                <button class="btn btn-primary" id="btnConsultar">Consultar</button>
            </div>
            <div class="row">
                <div class="col-md-10"><h5 style="border-bottom: 5px solid #2B7785 !important; width: 123%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;"></h5></div>
            </div>     
        </div>
       
        
        <div id="imprimir">
            <center>
                <h2>
                    <b>CERTIFICADO DE RETENCIÓN EN LA FUENTE</b>
                </h2>
                <h4 class="center">
                    <b><span id="lblanio" /></b>
                </h4>
                <h4 class="center">
                    <b><span id="lblfecha" /></b>
                </h4>
            </center>
            <br />
            <p class="align-left" style="margin-left:50px;"><b>RETENEDOR: </b><span>FONDO DE FINANCIACION CAMARA DE COMERCIO DE PASTO</span></p>
            <p class="align-left" style="margin-left:50px;"><b>NIT: </b><span>891.280.005-1</span></p>
            <p class="align-left" style="margin-left:50px;"><b>DIRECCIÓN: </b><span>Cl 18 #41 29 B/CENTRO</span></p>
            <br />
            <p class="align-left" style="margin-left:50px;"><b>NOMBRE: </b><span id="lblnombre" /></p>
            <p class="align-left" style="margin-left:50px;"><b>NIT: </b><span id="lbldocumento" /></p>
            <p class="align-left" style="margin-left:50px;"><b>DIRECCIÓN: </b><span id="lbldireccion" /></p>
            
            
            <div class="form-group">
                <div class="col-md-10"><h3 style="border-bottom: 2px solid black !important; width: 123%; color: black !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;"></h3></div>
            </div>

            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="text-align:center">CONCEPTO</th>
                        <th style="text-align:center">BASE</th>
                        <th style="text-align:center">PORCENTAJE</th>
                        <th style="text-align:center">VALOR RETENCIÓN</th>
                    </tr>
                </thead>
                <tbody id="mitabla"></tbody>
            </table>
            <center>
                <p class="align-center">
                    <h6 style="color: rgb(248, 248, 248)">
                        Este certificado no requiere para su validez firma autógrafiada de acuerdo con el artículo 10 del Decreto 836 de 1991.
                        <br />Este certificado se expide en Agencia Ipiales, el 17 de Noviembre de 2020
                    </h6>
                </p>
            </center>
            
            
            
        </div>
        <button type="button" id="BtnImprimir">Imprimir/PDF</button>

        @*data-toggle="modal" data-target="#modalCertificadoAporte"*@
    </div>
</div>


<style>
    body {
        background-color: #DDD;
    }
</style>


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $(".chosen-select-single").chosen();
            $(".chosen-select-multiple").chosen();
        });


        $('#BtnImprimir').click(function () {
            $('#imprimir').printThis();
        });
    </script>
}

