<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Libranza</title>
</head>
<body>


    <div class="form-horizontal">
        <div style="border:2px solid grey; border-radius:22px; background-color:white; width:800px;">
            <br><br>
            <table width="100%" border="0">
                <tbody align="left">

                    <tr>
                        <td width="100%" align="left">
                            <b>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FERAJUNAP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No.
                            </b><br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NIT. 814.000.824-5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" align="center">
                            <b>LIBRANZA</b><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" align="left">
                            <font size="3">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ciudad y Fecha: Pasto, _______________________<br><br>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" align="left">
                            <font size="3">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Valor Préstamo: $ <b> <label id="capi">@ViewBag.capital</label></b> <br>
                            </font>
                        </td>
                    </tr>

                </tbody>

                <tr>
                    <td>
                        <font size="3">
                            <p align="justify" style="margin-left:2%; margin-right:2%">
                                <br>
                                Yo,(Nosotros) &nbsp;<b>@ViewBag.Nombre</b><br>

                                identificados como aparece al pie de nuestras firmas, autorizo (amos) de manera irrevocable, amplia y suficiente a la
                                Pagaduría de la Seccional de Administración Judicial Pasto, para retener y pagar de mi salario mensual con destino al
                                FONDO DE EMPLEADOS DE LA RAMA JUDICIAL NARIÑO Y PUTUMAYO -FERAJUNAP-,  la cantidad de ___________________
                                (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)cuotas, cada una por valor de ____________________________________  ($&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;) M/L. Los descuentos deben realizarse a partir del
                                día TREINTA (30) del mes de __________________ del año _____________ y girada a FERAJUNAP y así sucesivamente
                                cada uno de los meses siguientes hasta completar la totalidad de las cuotas. Adicionalmente autorizo (amos) a la pagaduría
                                mencionada descontar por anticipado durante el tiempo que permanezca en vacaciones, licencias e incapacidades, el valor de
                                las cuotas que deben pagarse a FERAJUNAP.<br />
                                De igual manera autorizo (amos) para que en caso de retiro por cualquier causa de la entidad del deudor o codeudor del
                                préstamo que garantiza esta libranza, descuente de la liquidación final de prestaciones sociales, vacaciones, bonificaciones
                                e indemnizaciones, etc., las cuotas restantes incluyendo intereses corrientes y moratorios o cualquier gasto que ocasione, en
                                el siguiente orden: DEUDOR, CODEUDOR. En caso de que mi (nuestra) obligación presente mas de una cuota vencida, autorizo
                                (amos) el envió de la novedad para descontar como valor adicional de cualquier pago a nuestro favor, hasta quedar la
                                obligación al día. En el caso de no efectuarse el descuento por nomina me (nos) comprometo (emos) a realizar el pago
                                directamente por caja en sus dependencias dentro de los plazos estipulados.<br /><br />
                                Cualquier contraorden que pretenda efectuarse a la presente, solamente podrá tenerse en cuenta si está debidamente
                                autorizada por FERAJUNAP. <br /><br />

                            </p>
                        </font>


                    </td>
                </tr>

            </table>
            <div class="row" style="margin-left:2%;margin-right:2%">
                <table width="100%">
                    <tr>
                        <td width="70%">
                            <font size="2">
                                <p align="left">
                                    <b> FIRMA DEUDOR</b> <br /><br /><br />
                                    ________________________________________ <br />
                                    C.C No.<br /><br />
                                </p>
                            </font>

                        </td>
                        <td width="30%">
                            <font size="2">
                                <p align="left">
                                    <b> FIRMA CODEUDOR</b> <br /><br /><br />
                                    ________________________________________ <br />
                                    C.C No.<br /><br />
                                </p>
                            </font>
                        </td>

                    </tr>

                </table>
                <font size="2">
                    <p style="margin-left:33%">
                        ________________________________________  <br />
                        <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        GERENTE FERAJUNAP</b> <br />

                    </p>
                </font>

            </div>
            <br />
            <table width="100%" border="0">
                <tr>
                    <td width="100%" align="center">
                        <font size="2">
                            <b>DECLARACIÓN PATRONAL </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="3">
                            <p align="justify" style="margin-left:2%; margin-right:2%; margin-block-start:1px">
                                La entidad retenedora acepta la libranza y las autorizaciones de los trabajadores en ella expresadas y asume
                                la responsabilidad que conlleva para con FERAJUNAP, de tal manera que basta este único documento para proceder
                                a descontar por nomina hasta su total cancelación las sumas indicadas. Es obligación de la empresa retenedora
                                efectuar el pago de las sumas descontadas al empleado, en su calidad de deudor o codeudor a FERAJUNAP.
                                <br />

                            </p>
                        </font>


                    </td>
                </tr>
            </table>
            <br />
            <div class="row" style="margin-left:2%;margin-right:2%">
                <table width="100%">
                    <tr>
                        <td width="70%">
                            <font size="2">
                                <p align="left">
                                    ________________________________________<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b> PAGADOR FIRMA Y SELLO </b><br />
                                </p>
                            </font>

                        </td>
                        <td width="30%">
                            <font size="2">
                                <p align="left">
                                    ________________________________________<br />
                                    &nbsp;&nbsp; <b> JEFE REC. HUMANOS FIRMA Y SELLO</b>  <br />
                                </p>
                            </font>
                        </td>

                    </tr>

                </table>

            </div>
        </div>

    </div>

</body>
</html>

<script src="~/Scripts/jquery-1.11.0.min.js"></script>


<script>

    var formatNumberMiles = {
        separador: ".", // separador para los miles
        sepDecimal: ',', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }





    $(document).ready(function () {
        var capi = $("#capi").text();

        var forma = formatNumberMiles.new(capi);

        $("#capi").text(forma);

        var capi2 = $("#capi2").text();

        var forma = formatNumberMiles.new(capi2);

        $("#capi2").text(forma);

        var cu = $("#cuot").text();

        var forma = formatNumberMiles.new(cu);

        $("#cuot").text(forma);

    });
</script>
