

@model IEnumerable<FNTC.Finansoft.Accounting.DTO.DescuentosNomina.EstructuraPlanos>

<select class="form-control" id="CodigoPlano" name="CodigoPlano">

    @foreach (var item in Model)
    {
        <option value="@item.IdEstructuraPlanos">|Plano: @item.NombreEstructuraPlanos|</option>

    }
</select>