<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/852bc03b-2fcd-49c2-9989-c8a712546db0/resourceGroups/FINANTEC/providers/Microsoft.Web/sites/coomisol</ResourceId>
    <ResourceGroup>FINANTEC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://coomisol.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>coomisol.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>coomisol</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$coomisol</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AccContext" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:coomisol.database.windows.net,1433;Initial Catalog=DB_A4D60B_gerentefinantec3;Persist Security Info=False;User ID=FINANTEC;Password=Coomisol-2021*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:coomisol.database.windows.net,1433;Initial Catalog=DB_A4D60B_gerentefinantec3;Persist Security Info=False;User ID=FINANTEC;Password=Coomisol-2021*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FNTC.Finansoft.Accounting.DTO.AccountingContext, FNTC.Finansoft.Accounting.DTO" MigrationConfiguration="FNTC.Finansoft.UI.Migrations.Configuration, FNTC.Finansoft.UI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GeoModel" Order="8" Enabled="False">
          <Destination Path="Data Source=tcp:coomisol.database.windows.net,1433;Initial Catalog=DB_A4D60B_gerentefinantec3;Persist Security Info=False;User ID=FINANTEC;Password=Coomisol-2021*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:coomisol.database.windows.net,1433;Initial Catalog=DB_A4D60B_gerentefinantec3;Persist Security Info=False;User ID=FINANTEC;Password=Coomisol-2021*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FNTC.Framework.Params.ParametersModel, FNTC.Framework" MigrationConfiguration="FNTC.Framework.Migrations.Configuration, FNTC.Framework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GeoModel-Web.config Connection String">
      <ParameterValue>Server=tcp:coomisol.database.windows.net,1433;Initial Catalog=DB_A4D60B_gerentefinantec3;Persist Security Info=False;User ID=FINANTEC;Password=Coomisol-2021*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AccContext-Web.config Connection String">
      <ParameterValue>Server=tcp:coomisol.database.windows.net,1433;Initial Catalog=DB_A4D60B_gerentefinantec3;Persist Security Info=False;User ID=FINANTEC;Password=Coomisol-2021*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>