
@{
    ViewBag.Title = "EvaluarViabilidad";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var idSolicitud = ViewBag.solicitud;
}

<h2>Evaluar Viabilidad</h2>
@ViewBag.resultado

@Html.ActionLink("Continuar", "Referencias", "Solicitudes", new { id = idSolicitud }, new { @class = "btn btn-success" })
