@model IEnumerable<FNTC.Finansoft.Accounting.DTO.MCreditos.Prestamos>

<select class="form-control" id="Salario" name="Salario">

    @foreach (var item in Model)
    {
        <option value="@item.id"> @item.SALARIO </option>

    }
</select>