@model FNTC.Finansoft.Accounting.DTO.Nomina.PlanoEmpresa

@if (ViewBag.guardado == "S")
{
    <script>
        recargar();
    </script>
}
else
{
    <div id="centro" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">


                    <h4 align="center" class="modal-title"> <b>ELIMINAR - Plano Empresa</b></h4>
                </div>
                <div class="modal-body">
                    <div class=" panel panel-body">


                        @using (Ajax.BeginForm("Delete", "PlanoEmpresas", null, null, new { id = "theForm", autocomplete = "off" }))

                        {
                            <center>
                                <div class="form-horizontal">

                                    <div>
                                        <i class="fa fa-ban iconosmenu" aria-hidden="true"></i> <h4>¿Esta Seguro de Eliminar - Plano Empresa?</h4>
                                        <br />
                                        <h4>El Plano se debe encontrar sin ningun archivo generado para ser Eliminado! </h4>
                                    </div>

                                    @Html.AntiForgeryToken()

                                    @Html.HiddenFor(model => model.id)
                                    <div class="form-actions no-color">
                                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                                        <button type="button" id="close" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Cancelar</button>

                                    </div>
                                </div>
                            </center>
                        }
                        @if (ViewBag.Error != null && ViewBag.Error != "")
                        {
                            <div class="text-danger">
                                @ViewBag.Error
                            </div>
                        }
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script>



        $(document).ready(function () {

            $('#centro').modal('show');

        });
        //Al Ocultar el modal
        $(document.body).on('hidden.bs.modal', function () {
            $('#centro').removeData('bs.modal');
        });



        $("#theForm").submit(function (event) {
            event.preventDefault();
            var theForm = $(this);
            var theAction = theForm.attr("action");
            //if (!theForm.valid()) {
            //    return false;
            //}
            $.post('/Nomina/PlanoEmpresas/Delete', theForm.serialize())
                .done(function (result) {
                    event.preventDefault();

                    swal({
                        title: "",
                        type: "info",
                        text: "Plano Eliminado",
                        confirmButtonText: "Ok!",
                    }, function () {
                        //$("#mostrar").html("");
                        //location.reload();
                        //$("#centro").html("");
                        // $("#centro").href("/Nomina/PlanoEmpresas/index");
                        //window.location.replace('/Nomina/PlanoEmpresas/index');
                        //$("#centro").load("/Nomina/PlanoEmpresas/index");
                        recargar();
                        $("#close").click();
                    });

                });

        });
    </script>

}