
@model IEnumerable<FNTC.Finansoft.Accounting.DTO.Nomina.PlanoEmpresa>


@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



<script>
    function Regresar() {
        location.reload();
    }


    function Guardar1() {

        var formData = $('#FormularioEdit').serialize();

        $('#centro').modal('hide');
        $.ajax({
            type: "POST",
            url: "@Url.Action("Edit", "PlanoEmpresas")",
            data: formData,
            success: function (partialViewResult) {
                $('#centro').html(partialViewResult);
                $('#centro').modal('hide');

            }
        });
    }



    //refrescar un div
    $(".js-refrescar").click(function () {
        $("#mostrar").html("");
        $("#mostrar").load("/Nomina/PlanoEmpresas/lista");
    });


    function recargar() {
        $('#contenidoJD').load('@Url.Action("lista")');

        }

    //Al Ocultar el modal
    $(document.body).on('hidden.bs.modal', function () {
        $('#centro').removeData('bs.modal');
        $(".js-refrescar").click();
    });



</script>

<div class="col-md-12" style="background:#ECECEC; width:100%;left: 10px;">
    <br />
    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:0%;border: none; margin-left: 2%;">

        <li class="active"><a href="#" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Planos Empresa </a></li>

    </ul>
    <div class="tab-content contenedortabs">
        <br />
        <div class="card" style="background-color:white;margin-left:10px;margin-right:10px;">

            <div class="card-header" style="background-color:#274766;color:white;border-radius:5px;">
                + Planos
            </div>
            <div class="card-body" style="background-color:white;margin-left:10px;margin-right:10px">

                <div id="contenidoJD">
                    @Html.Partial("lista", Model)
                </div>
                <div id="divmodal"></div>

            </div>

        </div>

        <div>
            <a href="/Dashboard/Default/descuentosNomina?titulo=Descuentos+Nomina&menu=movimientos" class="btn btn-info" data-toggle="modal" style=" margin-top: 1%; margin-left: 1%; margin-bottom: 1%;">
                Regresar
            </a>

        </div>
    </div>


</div>


