
@model IEnumerable<FNTC.Finansoft.Accounting.DTO.FabricaCreditos.CentralRiesgo>


<select class="form-control" id="idCentralRiesgo" name="idCentralRiesgo">
    <option value="">Seleccionar</option>
    @foreach (var item in Model)
    {
        <option value="@item.idCentralRiesgo">@item.nombreCentral</option>
    }
</select>
