@{
    ViewBag.Title = "Home Page";
    var p = (FormCollection)ViewBag.posted;
    if (p == null) { p = new FormCollection(); };
}
<br /><br />

<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />

posted values:
@foreach (var item in p.AllKeys)
{
    Html.Raw(item.ToString());
}

@*<link href="~/Content/css/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/select2.css" rel="stylesheet" />*@
<!-- Product Name Select Box -->
<form action="/" method="post">

    Traer Cuentas Auxiliares:
    <select name="cuentas" data-type="2" class="js-example-basic-single auto" id="au"></select>
    Traer Cuentas Mayores:
    <select name="cuentasMayores" data-type="1" class="js-example-basic-single auto" id="au"></select>
    More
    <button type="button" class="addmore">More</button>
    <div id="more"></div>
    <h1>Log</h1>
    <div id="log"></div>
   

</form>

<!-- #region combosCuentas -->
<script>
    $(document).ready(function () {
        $(".auto").each(function () {
            initSelect2($(this));
        })
        $('body').on('DOMNodeInserted', 'select', function () {
            initSelect2($(this));
        });
    });

    $(".addmore").on('click', function () {

        $("#more").append($("<select/>"));
      
    });
    function formatRepo(repo) {
        if (repo.loading) return repo.text;
        var markup = repo.id + " - " + repo.text;
        return markup;
    };
    function formatRepoSelection(repo) {
        return repo.id || repo.text;
    }
    $(".auto").change(function () {

        var t = $(this).children(':selected').val();
    //    alert(t);
        //aca traigo la cuenta con todas sus caracteristicas
        $.ajax({
            url: "/accounting/plandecuentas/GetCuentas"
            , type: "GET"
            , dataType: 'json'
            , data: { "term": t }
            , success: function (result) {

                $("#log").empty();
                var ul = $('<ul>').appendTo("#log");
                $(result).each(function (index, item) {
                    ul.append($(document.createElement('li')).text( item.CODIGO + "- "+item.NOMBRE))
                    
                    //ul.append($(document.createElement('li')).text("Requiere Tercero : " + item.REQTERCERO))
                    //ul.append($(document.createElement('li')).text("Requiere Tercero : " + item.REQCCOSTO))
                    //ul.append($(document.createElement('li')).text("Es Cuenta Impuesto : " + item.EsCuentaImpuesto))
                    //ul.append($(document.createElement('li')).text("Naturaleza : " + item.NATURALEZA))
                });
            }
        })
    })
    function initSelect2(s2) {
        //  alert(s2);
        s2.select2({
            ajax: {
                url: "/accounting/plandecuentas/GetCuentas4Selects",
                dataType: 'json',
                type: "GET",
                delay: 250,
                data: function (params) {
                    return {
                        term: params.term, // search term
                        type: $(this).data("type")
                    };
                },
                results: function (data, params) {
                    return {
                        results: data,
                    };
                },
                cache: false
            },
            templateResult: formatRepo, 
            templateSelection: formatRepoSelection 
        });

    }
</script>


<!-- #endregion -->
