<!-- Start css3menu.com HEAD section -->
<link href="~/Content/MenuContabilidad/style.css" rel="stylesheet" type="text/css">

<div style="background-color:#354A5F; position: absolute;top: 0; width: 100%;" ontouchstart="">
    <!-- Start css3menu.com BODY section -->
    <input class="c3m-switch-input" id="css3menu-switcher" type="checkbox">
    <ul class="topmenu" id="css3menu1">
        <li class="switch"><label onclick="" for="css3menu-switcher"></label></li>
        <li class="topfirst"><a style="height:54px;line-height:32px;" href="Home/Index"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
        <li class="topmenu">
            <a style="height:54px;line-height:32px" href="#"><i class="fa fa-credit-card-alt  fa-lg" aria-hidden="true"></i> Contabilidad</a>
            <ul>
           
                <li>
                    @*<a href="#"><span> Movimientos</span></a>
                    <ul>
                        <li><a href="#"> Movimientos 0</a></li>
                    </ul>*@
                </li>
                @*<li><a href="#"> Contabilidad 7</a></li>*@

                <li>
                    <a href="#"><span>Catalogos</span></a>
                    <ul>
                        <li><a href="/Accounting/CentroCosto/"> Centros de Costos</a></li>
                        @*<li><a href="#"> Conceptos Ingreso/Egreso</a></li>*@
                        <li><a href="/Accounting/FormasPago"> Formas de Pago</a></li>
                        <li><a href="/Accounting/Comprobantes/"> Cormprobantes</a></li>
                        <li>
                            <a href="#"><span> Plan de Cuentas</span></a>
                            <ul>
                                <li><a href="/Accounting/PlanDeCuentas/Index#"> Auxiliares</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#"><span> Terceros</span></a>
                    <ul>
                        <li><a href="/Terceros/terceros/create"> Terceros</a></li>
                        <li><a href="#"> Empresas</a></li>
                        <li><a href="#"> Subterceros</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span> Informes</span></a>
                    <ul>
                        <li><a href="#"> Informes 2</a></li>
                        <li>
                            <a href="#"><span> Contabilidad</span></a>
                            <ul>
                                <li><a href="#"> Balanc</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Generales</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="topmenu">
            <a style="height:54px;line-height:32px;" href="#"><i class="fa fa-arrows fa-lg" aria-hidden="true"></i> Movimientos</a>
            <ul>
                <li><a href="/Accounting/Movimientos/Nuevo"> Nuevo</a></li>
                <li><a href="/Accounting/Movimientos/ReciboDeCaja"> Comprobantentes</a></li>
                <li>
                    <a href="#"><span> Comprobante de Egreso</span></a>
                    <ul>
                        <li><a href="#"> Comprobante de Egreso 0</a></li>
                    </ul>
                </li>
                <li><a href="/Accounting/Movimientos/NotaContabilidad"> Nota de Contabilidad</a></li>
            </ul>
        </li>
        <li class="topmenu">
            <a style="height:54px;line-height:32px;" href="#"><i class="fa fa-table fa-lg" aria-hidden="true"></i> Módulos</a>
            <ul>
                <li>
                    <a href="#"><span> Asociados</span></a>
                    <ul>
                        <li><a href="#">Nuevo</a></li>
                        <li><a href="#">Catalogo</a></li>
                    </ul>
                </li>
                <li><a href="#">Ahorros</a></li>
                <li><a href="#">Creditos</a></li>
                <li><a href="#">Nomina</a></li>
                <li><a href="#">Activos Fijos</a></li>
                <li><a href="#">Cartera</a></li>
            </ul>
        </li>
        @*<li class="topmenu"><a style="height:54px;line-height:32px;" href="#"><i class="fa fa-ban fa-lg" aria-hidden="true"> Inactivo</i></a>*@
        @*<li class="topmenu">
            <a style="height:54px;line-height:32px;" href="#"><i class="fa fa-exchange fa-lg" aria-hidden="true"></i> Mutual</a>
            <ul>
                <li><a href="#"> Nomina</a></li>
            </ul>
        </li>*@
        <li class="topmenu">
            <a style="height:54px;line-height:32px;" href="#"><i class="fa fa-cogs fa-lg" aria-hidden="true"></i> Configuracion</a>
            <ul>
                <li>
                    <a href="#"><span><img alt="" src="Menu_files/css3menu1/find.png"> Auditoria</span></a>
                    <ul>
                        <li><a href="#"> Logs</a></li>
                    </ul>
                </li>
                <li><a href="#"><img alt="" src="Menu_files/css3menu1/samples1.png"> Parametros</a></li>
                <li><a href="#"><img alt="" src="Menu_files/css3menu1/service1.png"> Usuarios y Permisos</a></li>
                <li><a href="#"><img alt="" src="Menu_files/css3menu1/close1.png"> Salir</a></li>
            </ul>
        </li>
        <li class="toplast">
            <a style="height:54px;line-height:32px;" href="#"><i class="fa fa-wrench fa-lg" aria-hidden="true"></i> Utilidades</a>
            <ul>
                <li><a href="#"> Calculadora</a></li>
            </ul>
        </li>
    </ul>
</div>

