@{
        var menu = (string)TempData["menu"];
}

    <div id="headerWrapper">
        <div id="headerCenter">
            <div id="headerTitles">
                <a href="/Dashboard/Default">
                    <img style="margin-top: 17px !important;" src="~/Content/imagenes/logof.png" />
                </a>
            </div>
            <nav>
                @if (User.IsInRole("Contabilidad") || User.IsInRole("Admin"))
                {
                    <a id="group0" @if (@menu == "contabilidad") { @Html.Raw(@"class='navActive'") } href="/Dashboard/Default#&contabilidad">
                        <i class="fa fa-credit-card-alt  fa-2x" aria-hidden="true" style="margin:10px;"></i>
                        contabilidad
                    </a>
                }
                @if (!User.IsInRole("Contabilidad") && !User.IsInRole("Admin"))
                {
                    <a id="">
                        <i class="fa fa-credit-card-alt fa-2x" aria-hidden="true" style="margin:10px; color:gray;"></i>
                        Contabilidad
                    </a>
                }

                @if (User.IsInRole("Movimientos") || User.IsInRole("Admin"))
                {
                    <a id="group1" @if (@menu == "movimientos") { @Html.Raw(@"class='navActive'") } href="/Dashboard/Default#&caja">
                        <i class="fa fa-arrows fa-2x" aria-hidden="true" style="margin:10px;"></i>
                        Movimientos
                    </a>
                }
                @if (!User.IsInRole("Movimientos") && !User.IsInRole("Admin"))
                {
                    <a id="">
                        <i class="fa fa-arrows fa-2x" aria-hidden="true" style="margin:10px; color:gray;"></i>
                        Movimientos
                    </a>
                }

                @if (User.IsInRole("Modulos") || User.IsInRole("Admin"))
                {
                    <a id="group2" href="/Dashboard/Default#&movimientos">
                        <i class="fa fa-table fa-2x" aria-hidden="true" style="margin:10px;"></i>
                        Módulos
                    </a>
                }

                @if (!User.IsInRole("Modulos") && !User.IsInRole("Admin"))
                {
                    <a id="">
                        <i class="fa fa-table fa-2x" aria-hidden="true" style="margin:10px; color:gray;"></i>
                        Módulos
                    </a>
                }


                @if (User.IsInRole("Admin"))
                {
                    <a id="group3" href="/Dashboard/Default#&modulos">
                        <i class="fa fa-cogs fa-2x" aria-hidden="true" style="margin:10px;"></i>
                        Configuración
                    </a>
                }
                @if (!User.IsInRole("Admin") && !User.IsInRole("Admin"))
                {
                    <a id="">
                        <i class="fa fa-cogs fa-2x" aria-hidden="true" style="margin:10px; color:gray;"></i>
                        Configuración
                    </a>
                }

                @if (User.IsInRole("Opcaja") || User.IsInRole("Admin"))
                {
                    <div id="group4" style="width: 480px;">
                        <a href="/Dashboard/Default#&configuracion" class="pop_ctrl" id="group4" style="width: 95px; height: 80px;margin-top: -17%; text-align: center; color: white !important; float: right; padding: 9px;"><i class="fa fa-calculator fa-2x" style="margin:10px;"></i>Op_Caja</a>
                    </div>
                }
                @if (!User.IsInRole("Opcaja") && !User.IsInRole("Admin"))
                {
                    <a id="">
                        <i class="fa fa-calculator fa-2x" aria-hidden="true" style="margin:10px; color:gray;"></i>
                        Op_Caja
                    </a>
                }
                <div id="demo_box" style="width: 560px;">
                    <a href="@Url.Action("CerrarSesion","Login",new { area = "" })" class="pop_ctrl" id="group4" style="width: 95px; height: 80px;margin-top: -17%; text-align: center; color: white !important; float: right; padding: 9px;"><i class="fa fa-cogs fa-2x" style="margin:10px;"></i>Cerrar Sesion</a>
                </div>

            </nav>
            <div class="pull-right" style="width: 180px; color:white; margin:8px;">

                <strong>
                    <span class="user-info">
                        <small>Usuario:</small>
                    </span>
                    <span class="user-info">@User.Identity.Name</span>
                </strong>

            </div>
        </div>
    </div>

   <div class="col-md-12">
    <div class="form-group">

        @*<button class="js-refrescar" style="display:none"><i class="fa fa-refresh" aria-hidden="true"></i> Actualizar</button>
        *@
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="centro2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header modalheadergeneral">
                    <button type="button" style="color:#FFF" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title  c_editar" id="myModalLabel"><i class="fa fa-file-text" aria-hidden="true"></i> Nuevo</h3>
                </div>*@
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>



<script>

   
   

    ////Ocultar el modal
    //$(document.body).on('hidden.bs.modal', function () {
    //    $('#centro2').removeData('bs.modal');
    //    $(".js-refrescar").click();

    //});

</script>
