

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/chosen.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert2@10.js"></script>
<script src="~/Scripts/Creditos/BusquedaFormularios.js"></script>


<a href="/Creditos/Creditos/Index">
    <i id="arrowLeft" class="fa fa-arrow-circle-o-left fa-3x navArrows" aria-hidden="true" alt="left arrow" style="margin-left: -30px;
  margin-block-start:10px;   opacity: 0.5; display: block; color: rgb(17, 82, 143); z-index: 5; "></i>
</a>

<div class="container" style="background: rgb(248, 248, 248)">
    <h1>ESTA ES UNA PRUEBA</h1>
</div>
